:global{
    .ant-card-body{
        width: 100%;
    }
}
.order-after-sale{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    .after-sale{
        height: calc(100% - 82px);
        overflow: scroll;
    }
    .btn-card{
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    }
    .step1-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        .prompt{
            height: 26px;
            line-height: 26px;
            font-size: 12px;
            color: rgb(141,141,141)
        }
    }
}
.title{
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(88,88,88)
}
.row-card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.will-card{
    height: 486px;
}
.btn-box{
    display: flex;
    justify-content: center;
    width: 100%;
}